@import "screen.scss";
@import "_base.scss";

header {
  background:transparent url('../../img/head_bg.gif') repeat-x;
  border-bottom:1px solid $border-color;
  border-top:1px solid $border-color;
  height: 131px;
  width: 100%;
  #center {
    background:#fff;
    border-left:1px solid $border-color;
    border-right:1px solid $border-color;
    height:131px;
    margin:0 auto;
    width:166px;
    &:hover {
      background:#f7f7f7;
    }
    img {
      padding:11px 0 0 22px;
    }
  }
  &.sticky {
    margin-bottom:38px;
  }
}

menu {
  background:#e8e8e8;
  border-bottom:1px solid $border-color;
  @include box-shadow(0px 6px 9px -10px #000);
  overflow:hidden;
  width:100%;
  ul {
    margin:0 auto;
    width:250px;
    height:35px;
    li {
      @include float-left;
      width:82px;
      border-right:1px solid $border-color;
      text-transform:uppercase;
      margin:0;
      padding:0;
      &:first-child {
        border-left:1px solid $border-color;
      }
      a {
        @include float-left;
        text-align:center;
        color:#616261;
        background:#fff;
        width:100%;
        text-decoration:none;
        font-size:13px;
        padding:12px 0 10px 0;
        &:hover {
          background:#f7f7f7;
        }
      }
    }
  }
  &.sticky {
    position:fixed;
    top:0px;
    a.home {
      display:block;
    }
  }
}

#main.home {
  margin:50px auto;
  width:100%;
  max-width:800px;
  color:#474747;
  #info {
    font-size:13px;
    line-height:24px;
    text-align:right;
    @include float-right;
    width:42%;
    padding:0 15px 0 0;
    strong {
      line-height:40px;
    }
    a {
      color:#474747;
      text-decoration:none;
      &:hover {
        color:#1e1e1e;
      }
    }
  }
  #social {
    padding:0 0 0 15px;
    width:50%;
    @include float-left;
    a {
      @include float-left;
      margin:0 20px 20px 0;
      width: 87px;
      height: 87px;
    }
    .facebook, .google, .twitter, .github, .forrst {
      background: transparent url('../../img/sprite_social.png') no-repeat;
    }
    .facebook {
      background-position:0 0;
      &:hover {
        background-position:0 -193px;
      }
    }
    .twitter {
      background-position:-96px 0;
      &:hover {
        background-position:-96px -193px;
      }
    }
    .google {
      background-position:-192px 0;
      &:hover {
        background-position:-192px -193px;
      }
    }
    .forrst {
      background-position:0 -96px;
      &:hover {
        background-position:0 -289px;
      }
    }
    .github {
      background-position:-97px -97px;
      &:hover {
        background-position:-97px -290px;
      }
    }
  }
}

#main.cv {
  margin:40px auto;
  width:100%;
  max-width:800px;
  color:#474747;
  #options {
    @include float-right;
    margin:0 0 5px 0;
    width:100%;
    a {
      @include float-right;
      @include border-radius(3px);
      padding:5px 8px 4px;
      background:#8f8f8f;
      color:#fff;
      font-size:11px;
      text-decoration:none;
      font-family:helvetica,arial,sans-serif;
      &:hover {
        background:#747474;
        text-decoration:none;
      }
    }
  }
  #top {
    @include float-left;
    width:100%;
    border-bottom:1px solid #e2e2e2;
    padding:0 0 13px 0;
    margin:0 0 30px 0;
    h1{
      font-size:20px;
      width:100%;
      margin:0 0 10px 0;
      font-weight:bold;
    }
    h2 {
      @include float-left;
      font-size:15px;
    }
    h3 {
      font-size:13px;
      @include float-right;
      margin:2px 0 0;
    }
    a {
      text-decoration:none;
    }
  }
  #top-skills {
    @include float-left;
    margin:0 0 30px 0;
    width:100%;
    ul {
      @include float-left;
      width:25%;
      padding:0;
      &:last-child {
        padding:0;
      }
    }
    ul:first-child {
      width:22%;
      + ul {
        width:28%;
      }
      + ul + ul {
        width:26%;
      }
      + ul + ul + ul {
        width:24%;
      }
    }
  }
  #more {
    @include float-left;
    width:100%;
    padding:0 0 13px 0;
    margin:0 0 35px 0;
    ul {
      @include float-left;
      width:49%;
      padding:0 15px 0 0;
      &:last-child {
        padding:0;
      }
      li {
        margin:6px 0 0 0;
        list-style-type:none;
        line-height:19px;
        span {
          font-size:10px;
          padding:0 0 0 2px;
        }
      }
    }
  }
  #experience {
    .startup {
      @include float-left;
      width:100%;
      margin:0 0 40px 0;
      ul {
        @include float-left;
        width:100%;
        span {
          font-weight:normal;
          font-size:13px;
          &.city {
            @include float-right;
            margin:1px 0 0;
          }
          &.title {
            width:100%;
            @include float-left;
            margin:10px 0 13px;
          }
        }
        li {
          line-height:19px;
          clear:both;
          margin-top:9px;
        }
      }
    }
  }
}

#main.work {
  margin:60px auto;
  width:100%;
  max-width:800px;
  .section {
    @include float-left;
    width:100%;
    margin:0 0 35px 0;
    border-bottom:1px solid #ededed;
    padding:0 0 60px 0;
    &.last {
      border:none;
    }
    a {
     @include float-left;
     &:hover {
       cursor:pointer;
     } 
    }
    p {
      @include float-right;
      text-align:right;
      color:#474747;
      font-size:13px;
      line-height:22px;
      a {
        @include float-right;
        color:#1a7fba;
        text-decoration:underline;
        &:hover {
          color:#343434;
        }
      }
    }
  }
  a.top {
    @include float-right;
    @include border-radius(3px);
    padding:5px 8px 4px;
    background:#8f8f8f;
    color:#fff;
    font-size:11px;
    text-decoration:none;
    font-family:helvetica,arial,sans-serif;
    &:hover {
      background:#747474;
      text-decoration:none;
    }
  }

}

footer {
  width:100%;
  max-width:800px;
  text-align:left;
  font-size:12px;
  color:#616261;
  border-top:1px solid #e2e2e2;
  padding:10px 0 0 5px;
  margin:35px auto 10px;
}

.wrapper {
  width:100%;
  @include float-left;
}

.lightbox {
  width:100%;
  height:100%;
  position:fixed;
  z-index:90000;
  background:#000;
  opacity:0.9;
  top:0;
  left:0;
}

.lightbox_wrapper {
  z-index:99999;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:99999px;
  overflow:hidden;
  img {
    display:none;
    position:fixed;
    &.center, &.right, &.left {
      display:block;
      @include box-shadow(0px 0px 17px #000);
    }
    &.center {
      z-index:999999999;
    }
    &:hover {
      cursor:pointer;
    }
  }
}