@import "compass/reset";
body {
  font-family:georgia;
}

strong {
  font-weight:bold;
}

em {
  font-style:italic;
}

ul {
  font-size:14px;
  font-weight:bold;
  margin:0;
  padding:0;
  li {
    font-weight:normal;
    font-size:13px;
    list-style-type:square;
    list-style-position:outside;
    margin:6px 0 0 23px;
    padding:0 0 0 0;
    line-height:15px;
  }
}
a {
  color:#555555;
  &:hover {
    color:#000;
  }
}